# Build
build/
cmake-build-*/
out/
temp/
Boxu/temp/

# macOS
.DS_Store
*.dSYM/

docs/*.md
Boxu/DEV_ISSUES_LOG.txt
studio5_smoketest/README.md

# IDE
.idea/
*.xcuserstate

# Compiled
*.o
*.a
*.dylib
*.exe
*.obj
